{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Guild{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    {% if gvgs and is_granted('ROLE_USER') %}
    <div class="row">
        <!--<h2>{% trans %}Upcoming GVG{% endtrans %}:</h2>-->
        {% for gvg in gvgs %}
        <div class="col-12">
            <div class="alert alert-success">
                {% if gvg.id in gvg_voted %}
                    <div class="float-right">
                    <span class="badge badge-success">Уже подтверждено</span>
                    <a href="{{ path('gvg_presence', {'id': gvg.id}) }}" class="btn btn-link">Список пати</a>
                    </div>
                {% else %}
                    <a href="{{ path('gvg_decline', {'id': gvg.id}) }}" class="btn btn-outline-danger float-right ml-3">{% trans %}I will not{% endtrans %}</a>
                    <a href="{{ path('gvg_confirm', {'id': gvg.id}) }}" class="btn btn-success float-right">{% trans %}I will{% endtrans %}</a>
                {% endif %}

                <strong>{% trans %}GVG{% endtrans %} {% trans %}vs{% endtrans %} {{ gvg.enemy }}</strong> {% if gvg.territory %}<small class="text-dark">{{ gvg.territory }}</small>{% endif %}
                <br><span class="badge badge-dark">{{ gvg.date|date('l')|trans }}, {{ gvg.time|date('H:i') }}</span> <!--<span class="badge badge-info">{{ gvg.date|date('d/m/Y') }}</span>-->
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <!-- ABOUT block -->
        <div class="col-12 col-md-6">
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('homepage_modify_block', {'id':about.id,}) }}" class="float-right btn btn-sm btn-outline-success"><i class="oi oi-pencil"></i></a>
            {% endif %}

            {% if about is defined and about %}
                {{ about.body|striptags|markdown }}
            {% endif %}

        </div>
        <!-- ACCEPTANCE RULES block -->
        <div class="col-12 col-md-6">
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('homepage_modify_block', {'id':cv.id}) }}" class="float-right btn btn-sm btn-outline-success"><i class="oi oi-pencil"></i></a>
            {% endif %}

            {% if cv is defined and cv %}
                {{ cv.body|striptags|markdown }}
            {% endif %}

            <p>Для того, чтобы подать заявку в клан нужно <a href="{{ path('user_signup') }}">зарегистрироваться на сайте</a> или <a href="{{ path('app_login') }}">войти</a>, если у Вас уже есть аккаунт, а после заполнить форму заявки.</p>
            <p><strong>Если Вы УЖЕ В КЛАНЕ</strong>, просто <a href="{{ path('user_signup') }}">зарегистрируйтесь</a> и обратитесь к офицерам в клан-чате для подтверждения аккаунта.</p>
            <p><a href="{{ path('cv_apply') }}" class="btn btn-success">Подать заявку в клан</a></p>
        </div>
    </div>
    <br>
    <div class="row">
        <!-- LATEST FORUM POSTS -->
        {% if forum %}
        <div class="col-12 col-md-6">
            <h2>{% trans %}Forum{% endtrans %}</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>{% trans %}Topic{% endtrans %}</th>
                    <th>{% trans %}Directory{% endtrans %}</th>
                    <th>{% trans %}Update{% endtrans %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for post in forum %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('forum_topic', {'id': post.topic.id}) }}">{{ post.topic.heading }}</a>
                            {% if post.topic.description is defined %}
                                <p class="text-muted mb-0" style="font-size: 0.7rem;">{{ post.topic.description }}</p>
                            {% endif %}
                        </th>
                        <td><small>{{ post.topic.directory.name }}</small></td>
                        <td>
                            <small>{{ post.created|date('d/m/Y, H:i') }}</small>
                            <p class="text-muted mb-0" style="font-size: 0.7rem;">By: {{ post.user.nickName }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- CURRENT ACTIVE CVs -->
        {% if cvs %}
        <div class="col-12 col-md-6">
            <h2>{% trans %}CV list{% endtrans %}</h2>
            {% for appl in cvs %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ appl.user.nickName }} <small class="text-muted">{{ appl.user.realName }}</small></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ appl.charClass.name|trans }} {{ appl.leveltext }} {% if appl.charSide %}/ {{ appl.charSide.name|trans }}{% endif %}</h6>
                        <a href="{{ path('cv_view', {'id': appl.id}) }}" class="btn btn-sm btn-outline-success float-right">{% trans %}CV{% endtrans %}</a>
                        <p class="card-text">{{ appl.ourReasons }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}