{% extends 'layout.html.twig' %}

{% block title %}{% trans %}GVG Presence{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{% trans %}GVG{% endtrans %} {% trans %}vs{% endtrans %} {{ gvg.enemy }} <small>{{ gvg.date|date('l')|trans }}, {{ gvg.time|date('H:i') }}</small></h1>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Char class'|trans }}</th>
                    <th scope="col">{{ 'Side'|trans }}</th>
                    <th scope="col" class="text-center">{{ 'GVG Presence'|trans }}</th>
                    <th scope="col">{{ 'GVG Party'|trans }}</th>
                    {% if is_granted('ROLE_EDITOR') and parties %}
                    <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for pres in presences %}
                <tr>
                    <th scope="row">{{ pres.user.nickName }}</th>
                    <td>{% if pres.user.charClass %}{{ pres.user.charClass.name|trans }}{% endif %}</td>
                    <td>{% if pres.user.charSide %}{{ pres.user.charSide.name|trans }}{% endif %}</td>
                    <td class="text-center">{% if pres.promise %}<i class="oi oi-check text-success"></i>{% else %}<i class="oi oi-x text-danger"></i>{% endif %}</td>
                    <td>{% if pres.party %}<div class="badge badge-dark">{{ pres.party.name }}</div>{% endif %}</td>
                    {% if is_granted('ROLE_EDITOR') and parties %}
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans %}GVG Party{% endtrans %}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% for party in parties %}
                                <a href="{{ path('gvg_party_presence', {'party': party.id, 'presence': pres.id}) }}" class="dropdown-item" type="">{{ party.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}