{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Users{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{% trans %}Users{% endtrans %}</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Name'|trans, 'a.realName') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Nickname'|trans, 'a.nickName') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Char class'|trans, 'c.id') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Side'|trans, 't.id') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Access'|trans, 'r.id') }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% if pagination is defined %}
                <tbody>

                {% for user in pagination %}
                <tr>
                    <th scope="row">{{ user.realName }}</th>
                    <td>{{ user.nickName }}</td>
                    <td>{% if user.charClass %}{{ user.charClass.name|trans }}{% endif %}</td>
                    <td>{% if user.charSide %}{{ user.charSide.name|trans }}{% endif %}</td>
                    <td>{{ user.userRole.name|trans }}</td>
                    <td class="text-right"><a href="{{ path('user_modify', {'id': user.id}) }}"><i class="oi oi-pencil"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
            <br>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}