{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Forum{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('forum') }}">{{ directory.forum.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ directory.name }}</li>
                </ol>
            </nav>
        </div>
        <div class="col-2 text-right">
            {% if is_granted(directory.access.role) %}
            <a href="{{ path('forum_topic_create', {'id': directory.id}) }}" class="btn btn-sm mt-2 btn-outline-success"><i class="oi oi-plus"></i> {% trans %}New topic{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if topics is defined %}
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>{% trans %}Topic{% endtrans %}</th>
                        <th class="text-center">{% trans %}Answers{% endtrans %}</th>
                        <th>{% trans %}Author{% endtrans %}</th>
                        <th>{% trans %}Update{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                <tbody>
                {% for topic in topics %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('forum_topic', {'id': topic.id}) }}">{{ topic.heading }}</a>
                            {% if topic.description is defined %}
                                <p class="text-muted mb-0" style="font-size: 0.7rem;">{{ topic.description }}</p>
                            {% endif %}
                        </th>
                        <td class="text-center"><small>{{ topic.posts|length }}</small></td>
                        <td><small>{{ topic.user.nickName }}</small></td>
                        <td>
                            <small>{{ topic.latestPost.created|date('d/m/Y, H:i') }}</small>
                            <p class="text-muted mb-0" style="font-size: 0.7rem;">By: {{ topic.latestPost.user.nickName }}</p>
                        </td>
                        <td class=" text-right">
                            {% if is_granted('ROLE_EDITOR') %}
                            <a href="#" class="btn btn-sm btn-link"><i class="oi oi-pencil"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}